/* I'm very sorry for this giant mess */
/* Please understand that this was a quick hack :( */

@media (max-width: 550px) {
  html { font-size: 62.5%; }
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: stretch;
  overflow: hidden;
}

img {
  flex: 0 1 auto;
  height: 100%;
}

body, input {
  font-family: "nexa_boldregular", sans-serif;
}

.hide {
  visibility: hidden;
}

.disable {
  pointer-events: none;
  opacity: 0.5;
}

.disconnected {
  color: #ff8989;
}

.connected {
  color: #41BBB4;
}

.sensor-result {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 1rem;
}

#home > div, #start-serving > div {
  flex-grow: 1;
}

.icon {
  width: 100%;
  background-image: url('../images/tennisball.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -10;
}

.wordmark {
  color: #1A1A1A;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#start-serving form {
  display: flex;
  justify-content: stretch;
  align-content: center;
}

#start-serving .instructions {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #1A1A1A;
  align-items: stretch;
  flex-grow: 3;
  margin-top: 1.5rem;
}

#start-serving .instruction-image {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  flex-grow: 10;
}

#start-serving > div {
  min-width: 60%;
}

#log {
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: flex-start;
}

#log h2 {
  max-width: 1000px;
  width: 100%;
  text-transform: uppercase;
}

.serve-table {
  flex-grow: 1;
  font-size: 0.7rem;
  width: 100%;
  max-width: 1000px;
}

.serve-table td, th {
  padding: 0.2rem;
  text-align: right;
}

.serve-table table {
  width: 100%;
}

.serve-table tr:nth-child(even) {
  background-color: #959595;
}

.serve-table tr:nth-child(odd) {
  background-color: #D7DADB;
}

.averages {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-width: 1000px;
  margin-bottom: 2rem;
}

.average {
  flex-grow: 1;
  text-align: center;
}

.sensor-result > div {
  display: flex;
  flex-basis: 0;
  width: 50%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin-bottom: 2rem;
}

.sensor-visual {
  flex-grow: 3;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.forward-angle .sensor-visual {
  background-image: url(../images/tennisracket3.png);
}

.side-angle .sensor-visual {
  background-image: url(../images/tennisracket3.png);
}

.force .sensor-visual {
  background-image: url(../images/weightliftericon.png);
}

.sensor-value, .value {
  flex-grow: 4;
  font-size: 6rem;
  color: #1A1A1A;
}

.sensor-value-label, .label {
  font-size: 1rem;
  text-transform: uppercase;
}

.sensor-comparison {
  flex-grow: 2;
  display: flex;
  font-size: 2rem;
  flex-direction: column;
}

.sensor-comparison > div {
  color: white;
  margin: 0.5rem;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
}

.sensor-indicator {
  text-align: center;
}

.previous-serve {
  background-color: #959595;
}

.pinned-serve {
  background-color: #46beb2;
}

.serve-type-toggle {
  display: flex;
  flex-direction: row;
  margin: 0;
  color: #333;
  border: 1px solid #bbb;
  outline: 0;
  padding: 0;
  margin: 0.5rem;
}

.serve-type-toggle .active-serve {
  background-color: #ff8989;
}

.serve-type-toggle .active-serve:hover {
  background-color: #ff9999;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nav > li {
  list-style: none;
}

.debug {
  opacity: 0.1;
  border: 2px solid red;
}

.showbox {
  border: 2px solid red;
}

.showbox div  {
  border: 1px solid red;
}

.debug:hover {
  opacity: 1;
}

.button {
  background-color: #526e82;
  color: white;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  margin: 0.5rem;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  background-color: #627e92;
}

.button:active {
  background-color: #ff9999;
}

.button .toggled {
  background-color: #ff8989;
}

#url {
  padding: 1rem;
  width: 120%;
  text-align: center;
  font-size: 150%;
}

.spin {
    opacity: 1.0;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 96000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 96000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotateZ(0deg); }
    to { -webkit-transform: rotateZ(360deg); }
}
